<div class="col-sm-3 col-md-2 sidebar">
    <a ui-sref="main.task.add({subjectId: subjectId})" class="btn btn-block btn-success">Dodaj zadanie</a>
    <hr/>
    <ul class="nav nav-sidebar">
        <li ng-repeat="task in tasks" ui-sref-active="active">
            <a ui-sref="main.task.details({taskId: task.id})">{{task.name}}</a>
        </li>
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view="task">
    <div class="row">
        <div class="col-xs-3" ng-repeat="task in tasks">
            <div class="panel" ng-class="{'panel-primary': task.stopDate > currentDate, 'panel-default': task.stopDate < currentDate, 'panel-success': indexMin===$index}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{task.name}}</h3>
                </div>
                <div class="panel-body">
                    {{task.description}}
                </div>
                <div class="panel-footer">
                    <div class="btn btn-group btn-group-justified">
                        <a href="#" class="btn btn-block btn-primary" ui-sref="main.task.edit({taskId: task.id})">Edytuj</a>
                        <a href="#" class="btn btn-block btn-primary" ui-sref="main.task.details({taskId: task.id})">Studenci</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>